html, body {
    height: 100%;
    margin: 0;
}
body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 8fr;
    display: grid;
    background-color: darkgray;
}

header {
    grid-column: 1/6;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#content {
    grid-column: 2/5;
    grid-row: 2/3;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 5%;

}

nav {
    grid-column: 2/4;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}

button {
    font-size: 1rem;
}

.homeText, .menuText, .contactText {
    background-color: darkgrey;
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 20px;
}

button.active {
    background-color: #aaa;
    color: white;
}